# This goes in /etc/conf.d/mediaserver
VPN_USER=foo
VPN_PASS=bar
CONFIG_DIR=/mnt/external1/apps
STORAGE_DIR=/mnt/external1
JACKETT_DNS=jackett.foo.com
SONARR_DNS=sonarr.foo.com
TRANSMISSION_DNS=transmission.foo.com
COUCHPOTATO_DNS=couchpotato.foo.com
